.dashboard{
    min-height:100vh;
    padding:120px 8%;
    background:#f8fafc;
}

.dashboard h1{
    font-size:2.5rem;
    color:#6d28d9;
}

.dashboard p{
    margin-top:10px;
    color:#555;
}

.dashboard-cards{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#6d28d9;
    font-size:2.5rem;
}

.card p{
    margin-top:10px;
    font-weight:600;
}