.admin-events{
    padding:20px;
}

.admin-events h1{
    margin-bottom:25px;
    color:#7a316f;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

th,
td{
    padding:16px;
    text-align:left;
    border-bottom:1px solid #eee;
}

th{
    background:#7a316f;
    color:white;
}

.edit-btn{
    background:#2196f3;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
    margin-right:10px;
}

.delete-btn{
    background:#e53935;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
}