.admin-users{
    padding:20px;
}

.admin-users h1{
    color:#7a316f;
    margin-bottom:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
}

th,
td{
    padding:16px;
    border-bottom:1px solid #eee;
    text-align:left;
}

th{
    background:#7a316f;
    color:#fff;
}

.delete-btn{
    background:#dc3545;
    color:#fff;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}